$primary: #15293E;
$primary-bg: #f6f7f9;
$primary-text: #FAFAFA;
$dark-gray: #2b3c57;
$header-gray:#fafafa;
$light-gray: #dddddd;
$off-white: #f7f7f7;
$component-bg: #ffffff;
$highlight: #4f8de9;
$nav-text: #496381;

.header-bg {
    background-color: $primary;
}

.header-text {
    color: $primary-text;
    font-size: 36;
    font-family: Helvetica, sans-serif;
}

.subheader-text {
    color: $dark-gray;
    font-size: 32;
    font-family: Helvetica, sans-serif;
}

#main {
    background-color: $primary-bg;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer-text {
    color: $nav-text;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

.shadow-reg {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.shadow-dark {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

.navbar-custom {
    border-bottom-width: 1.5px;
    border-bottom-color: $light-gray;
}

.navbar-default .navbar-nav > li.item > a { 
    background-color: #f00; 
    color: #000;
}

.table-container {
    background-color: $component-bg;
    border-radius: 15px;
    overflow: hidden;
}

.doc-container {
    background-color: $component-bg;
    border-radius: 15px;
    overflow: hidden;
}

.doc-dashboard {
    background-color: $component-bg;
    border-radius: 15px;
    overflow: hidden;
}

.log-table {
    margin: 0px;
    border-top: none;
}

.log-table-header {
    background-color: $off-white;
    border-top: none;
    color: $header-gray;
}

.log-table-header-top {
    background-color: $off-white;
    border-top: none;
}

.navitem.active {
    background-color: 'rgba(0,0,0,0)';
}